ul,
ul > li {
  list-style: none;
}

.desc > p {
  font-size: 12px;
  margin: 0px !important;
  color: gray;
}

.card {
  border: 1px solid gray;
  text-align: center;
  margin: 0 auto;
  width: calc(50% - 4px);
}

.avaloniaui {
  background-color: #8b44ac;
  color: #fff;
}
